<div class="mx-auto max-w-3xl sm:px-6 lg:px-8">

  <div>
    <h1 class="text-4xl font-bold text-gray-900">Benvenuto!</h1>
    <p class="mt-2 text-gray-600">Per iniziare è necessario una matrice di partenza</p>
  </div>

  <div>
    <p class="mt-2 text-sm text-gray-600">
      Se hai difficoltà
      <a href="<%= asset_path('example_generation.txt') %>" class="font-medium text-indigo-600 hover:text-indigo-500" download="sample.txt">usa questo file di esempio</a>
    </p>
  </div>

  <%= render 'form' %>
</div>