<div>
  <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
  <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>

  <% if devise_mapping.registerable? %>
    <p class="mt-2 text-center text-sm text-gray-600">
      Or
      <%= link_to "Create a new account", new_registration_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    </p>
  <% end %>
</div>

<div class="mt-8">
  <%= render 'form' %>
</div>
