<div class="flex-shrink-0">
  <span class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-500">
    <span class="font-medium leading-none text-white"><%= initials %></span>
  </span>
</div>
<div class="ml-3">
  <div class="hidden text-base font-medium text-gray-800">John Doe</div>
  <div class="text-sm font-medium text-gray-500"><%= email %></div>
</div>